.btn-signup {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  background-color: #181818;
  height: 40px;
}

.btn-signup:hover,
.btn-signup:focus {
  opacity: 0.8;
}
