.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  font-size: 16px;
  transition: opacity 0.2s ease-in;
}
