.subscribe {
  padding: 80px 24px;
  background-color: var(--accent);
  overflow: hidden;

  @include mediaLaptop {
    padding: 40px 12px;
  }
}

.subscribe__row {
  padding-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(./../../img/subscribe/subscribe-pin-bg.svg);
    width: 236px;
    height: 273px;
    transform: translate(-109%);
    
    @include mediaTablet {
      transform: translate(-199%, -18%);
    }
    
    @include mediaMobile {
      display: none;
    }
  }

  @include mediaTablet {
    flex-direction: column;
    align-items: center;
  }
    
  @include mediaMobile {
    padding-left: 0;
  }
}

.subscribe__desc {
  color: var(--page-bg);
  font-style: normal;
  line-height: normal;

  @include mediaTablet {
    text-align: center;
  }
}

.subscribe__title {
  font-size: 28px;
  font-weight: 500;
    
  @include mediaMobile {
    font-size: 24px;
  }
}

.subscribe__text {
  font-size: 20px;
  font-weight: 450;
    
  @include mediaMobile {
    font-size: 18px;
  }
}

.subscribe__form {
  flex-grow: 1;
}

@include mediaMobileS {
  .subscribe-form {
    flex-direction: column;
  }
}
